











 {% load staticfiles %}
 <html>

 <head>
 <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Register Page</title>

    <!-- XHL con -->
    <link rel="icon" href="{% static 'img/core-img/xhl.ico' %}">
    <link rel="stylesheet" href="{% static 'styleregister.css' %}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

 </head>
 <body >
 <div class="div_text_shadow">
     <strong>Add Game here!</strong><br />

 <form id="category_form" method="post" action="/rango/add_category/">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
         {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
         {{ field.errors }}
         {{ field.help_text }}<br>
         {{ field }}<br>
     {% endfor %}<br>
    <input type="submit" name="submit" value="Add Your Game" />
</form>

 </div>

 </body>
 </html>

