<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
        <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/27.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Boom Beach</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Single Game Review Area Start ##### -->
    <section class="single-game-review-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-game-img-slides">
                        <div id="gameSlides" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{% static 'img/Boom Beach/1.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Boom Beach/2.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Boom Beach/3.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Boom Beach/4.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Boom Beach/5.png' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Boom Beach/6.png' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Boom Beach/7.jpg' %}" alt="">
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#gameSlides" data-slide-to="0" class="active" style="background-image: url({% static 'img/Boom Beach/1.jpg' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="1" style="background-image: url({% static 'img/Boom Beach/2.jpg' %})"></li>
                                <li data-target="#gameSlides" data-slide-to="2" style="background-image: url({% static 'img/Boom Beach/3.jpg' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="3" style="background-image: url({% static 'img/Boom Beach/4.jpg' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="4" style="background-image: url({% static 'img/Boom Beach/5.png' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="5" style="background-image: url({% static 'img/Boom Beach/6.png' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="6" style="background-image: url({% static 'img/Boom Beach/7.jpg' %});"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <!-- *** Review Area *** -->
                <div class="col-12 col-md-6">
                    <div class="single-game-review-area style-2 mt-70">
                        <div class="game-content">
                            <span class="game-tag">Action</span>
                            <a href="#" class="game-title">Boom Beach</a>
                            <div class="game-meta">
                                <a href="#" class="game-date">26th March, 2014</a>
                                <a href="#" class="game-comments">6 Comments</a>
                            </div>
                            <p>Come with a plan or leave in defeat! Welcome to Boom Beach, an epic combat strategy game where your brains and your troop’s brawn fight against the evil Blackguard.
                                Attack bases to free enslaved islanders or create a task force with friends and other players to take on the enemy together,
                                all while exploring and unlocking secrets of this beautiful archipelago.
                                Scout, plan, then BOOM THE BEACH!</p>
                            <!-- Download & Rating Area -->
                            <div class="download-rating-area">
                                <div class="download-area">
                                    <a href="https://itunes.apple.com/app/reef/id672150402?mt=8"><img src="{% static 'img/core-img/app-store.png' %}" alt=""></a>
                                    <a href="https://play.google.com/store/apps/details?id=com.supercell.boombeach&referrer=mat_click_id%3D7eaae9c2d9f3078d3a14bb1f01d94049-20141216-1681"><img src="{% static 'img/core-img/google-play.png' %}" alt=""></a>
                                </div>
                                <div class="rating-area mt-30">
                                    <h3>8.6</h3>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- *** Barfiller Area *** -->
                <div class="col-12 col-md-6">
                    <div class="egames-barfiller">
                        <!-- Single Barfiller -->
                        <div class="single-barfiller-area">
                            <div id="bar1" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="95"></span>
                                <p>Game Price</p>
                            </div>
                        </div>
                        <!-- Single Barfiller -->
                        <div class="single-barfiller-area">
                            <div id="bar2" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="81"></span>
                                <p>Positive</p>
                            </div>
                        </div>
                        <!-- Single Barfiller -->
                        <div class="single-barfiller-area">
                            <div id="bar3" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="24"></span>
                                <p>Mixed</p>
                            </div>
                        </div>
                        <!-- Single Barfiller -->
                        <div class="single-barfiller-area">
                            <div id="bar4" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="31"></span>
                                <p>Negative</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Single Game Review Area End ##### -->
{% endblock %}