<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/23.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Conan Exiles</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Post Details Area Start ##### -->
    <section class="post-news-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8">
                    <div class="mt-100">
                        <div class="post-details-content mb-100">
                            <div class="blog-thumbnail mb-50">
                                <video autoplay='autoplay' loop width="700" height="450">
                                    <source src="{% static 'ITAV/Conan Exiles - Launch Trailer.mp4' %}" type="video/mp4" />
                                </video>
                            </div>
                            <div class="blog-content">
                                <h4 class="post-title">The Free Steam Games You Can Play This Weekend</h4>
                                <div class="post-meta mb-30">
                                    <a href="#" class="post-date">8th March, 2019</a>
                                    <a href="#" class="post-author">By Jenae Sitzes</a>
                                    <a href="#" class="post-comments">2 Comments</a>
                                </div>
                                <p>Every weekend, a small group of games are discounted and available to play for free on Steam, and the latest bunch of free weekend offerings are now live. The first game available to play for free this weekend is Conan Exiles, which released last May. Conan Exiles is an open-world survival game set in the savage lands of Conan the Barbarian where you must build up your own kingdom from nothing. The game can be played in single-player, co-op, or persistent online multiplayer modes. Explore the wilds, gather resources, slay monsters, loot treasure, and wage war against other civilizations to become the dominant clan among many. The developers recently rolled out more updates to Conan Exiles, so it's a good chance to try the game out. Conan Exiles will be free to play until Sunday, March 10, at 1 PM PST / 4 PM EST.</p><br>
                                <p>If you play Conan Exiles and love the experience, its standard edition is just $20 this weekend--a full 50% off. The deluxe edition is $42 (40% off) and comes with five DLC packs.</p><br>
                                <div class="row mt-50">
                                    <div class="">
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/80.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/81.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/82.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/83.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/84.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/85.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/86.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/87.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/88.jpg' %}" alt=""></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div class="sidebar-area mt-100">



                        <!-- Single Widget Area -->
                        <div class="single-widget-area video-widget">
                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/14.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Assemble Your Squad and Join the Battle</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/15.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Tips to improve your game</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/16.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Game reviews: the best of 2018</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/17.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Assemble Your Squad and Join the Battle</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/18.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area post-widget">
                            <h4 class="widget-title">Latest Posts</h4>
                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/19.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/20.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">Gaming at a new lever: 2018 new release</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/21.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">2018 Comicon: See the lastest news</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/22.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->
{% endblock %}