<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/23.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Dead or alive 6</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Post Details Area Start ##### -->
    <section class="post-news-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8">
                    <div class="mt-100">
                        <div class="post-details-content mb-100">
                            <div class="blog-thumbnail mb-50">
                                <video autoplay='autoplay' loop width="700" height="450">
                                    <source src="{% static 'ITAV/Dead or Alive 6 | Launch Trailer | PS4.mp4' %}" type="video/mp4" />
                                </video>
                            </div>
                            <div class="blog-content">
                                <h4 class="post-title">Dead or Alive 6’s wokeness looks like marketing voodoo</h4>
                                <div class="post-meta mb-30">
                                    <a href="#" class="post-date">22 January,2019</a>
                                    <a href="#" class="post-author">By Colin Campbell</a>
                                    <a href="#" class="post-comments">2 Comments</a>
                                </div>
                                <div class="row mt-50">
                                    <div class="">
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/10.jpg' %}" alt=""></p>
                                    </div>
                                </div>
                                <p>I’m beginning to suspect that Dead or Alive 6’s alleged wokeness is not all it seems to be. Since the game was unveiled back in June, publisher Koei Tecmo’s marketing message has insisted that the 3D fighter won’t be as raunchy as in years gone by. But judging from a preview event held last week, I’d say it’s pretty much business as usual.</p>
                                <p>Dead or Alive’s big new character is a scientist called NiCO. She wears an extremely short lab coat and cute-button hot pants. Marie is a returning character who wears her hair in pigtails. She also wears an S&M choker and a frilly maid’s uniform. Nyotengu is all bust and thighs in her revealing, flappy cape. The women are all fantastically pretty.</p>
                                <p>Still, designer Yohei Shimbori says he’s moved on from the fleshy, jiggly physics of yesteryear to something more appropriate for a game with mainstream esports aspirations — one that does not wish to fall afoul of the media, platform holders, and other powerful groups.</p>
                                <p>“There have been a lot of changes in the world in recent years, and I decided that we should reflect those changes by resetting our approach to sexual imagery, after Dead or Alive 5,” Shimbori told me. “It’s given us an opportunity to focus on other aspects of the characters’ design, which helps us to think clearly about what we want to do to attract new players, while keeping our fans happy.”</p>
                                <div class="row mt-50">
                                    <div class="">
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/11.jpg' %}" alt=""></p>
                                    </div>
                                </div>
                                <p>I ask him how developer Team Ninja decided to tone down the excesses of previous Dead or Alive games.</p>
                                <p>“We had a lot of meetings to talk about these changes,” Shimbori said. “Sexual imagery has been a part of the series’ image and its marketing, but things change. That kind of imagery is less acceptable than it was, and can even mean that some media outlets don’t want to show those images. So we changed.”</p>
                                <p>Does he expect blowback from fans who enjoy the game’s old-fashioned objectification of its women characters? “I know some fans will not be happy, but I think most people will be fine, and I think it will be better for new fans,” he said. “I’m not personally unhappy about making these changes. It’s important to be able to react to changes in the world.”</p>
                                <p>He says that rival franchises might have to change too. We spoke about the extreme comedic violence of last week’s Mortal Kombat 11 reveal. “If that sort of imagery became unfashionable, they would change too,” he says.</p>
                                <div class="row mt-50">
                                    <div class="">
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/12.jpg' %}" alt=""></p>
                                    </div>
                                </div>
                                <p>As far as esports goes, he has no delusions about the task ahead. “It will be very difficult to become a top esports fighting game,” Shimbori said. “But the first step is to appeal to lots of new players. There are elements of the game that have been designed with esports in mind, and we have held some competitions for Dead or Alive, which have been great successes. We also plan to release a free-to-play version later, as we did with Dead or Alive 5. This will help us to broaden the game’s appeal.”</p>
                                <p>Dead or Alive 6 will be released for PlayStation 4, Windows PC, and Xbox One on March 1.</p>
                                <div class="row mt-50">
                                    <div class="">
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/1.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/2.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/3.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/4.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/5.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/6.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/7.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/DeadorAlive6/8.jpg' %}" alt=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div class="sidebar-area mt-100">



                        <!-- Single Widget Area -->
                        <div class="single-widget-area video-widget">
                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/14.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Assemble Your Squad and Join the Battle</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/15.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Tips to improve your game</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/16.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Game reviews: the best of 2018</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/17.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Assemble Your Squad and Join the Battle</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/18.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area post-widget">
                            <h4 class="widget-title">Latest Posts</h4>
                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/19.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/20.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">Gaming at a new lever: 2018 new release</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/21.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">2018 Comicon: See the lastest news</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/22.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->
{% endblock %}