<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/23.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Dead by Daylight</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Post Details Area Start ##### -->
    <section class="post-news-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8">
                    <div class="mt-100">
                        <div class="post-details-content mb-100">
                            <div class="blog-thumbnail mb-50">
                                <video autoplay='autoplay' loop width="700" height="450">
                                    <source src="{% static 'ITAV/Dead by Daylight | Origins of The Plague behind-the-scenes.mp4' %}" type="video/mp4" />
                                </video>
                            </div>
                            <div class="blog-content">
                                <h4 class="post-title">Behaviour Interactive Shows The Origins Of Dead By Daylight's Upcoming Killer</h4>
                                <div class="post-meta mb-30">
                                    <a href="#" class="post-date">10th March, 2019</a>
                                    <a href="#" class="post-author">By Andy Mills</a>
                                    <a href="#" class="post-comments">2 Comments</a>
                                </div>
                                <p><Just a few days ago, Dead by Daylight developer Behaviour Interactive teased "Demise Of The Faithful," an upcoming DLC chapter that will include a new map, a new survivor named Jane Romero, and a new killer known as "The Plague". It's that final addition that is the focus of the latest video from the Canadian studio as they show us behind-the-scenes with the "Origins of The Plague". Check it out below. </p><br>
                                <p>Still no word on when we can expect "Demise Of The Faithful" to be added to Dead By Daylight, but we'll let you know as soon as we do.</p><br>
                                <p>We've got the full list of Dead by Daylight achievements - check the list for guides to unlocking them.</p>
                                <div class="row mt-50">
                                    <div class="">
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/71.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/72.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/73.png' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/74.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/75.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/76.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/77.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/78.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/79.jpg' %}" alt=""></p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-70">
                            <h4 class="mb-50">Comments</h4>

                            <ol>
                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="{% static 'img/bg-img/32.jpg' %}" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="post-author">William Smith</a>
                                            <a href="#" class="post-date">July 12, 2018</a>
                                            <p>Integer sed facilisis eros. In iaculis rhoncus velit in malesuada. In hac habitasse platea dictumst. Fusce erat ex, consectetur sit amet ornare suscipit, porta et erat. Donec nec nisi in nibh commodo laoreet.</p>
                                            <a href="#reply" class="reply">Reply</a>
                                        </div>
                                    </div>

                                    <ol class="children">
                                        <li class="single_comment_area">
                                            <!-- Comment Content -->
                                            <div class="comment-content d-flex">
                                                <!-- Comment Author -->
                                                <div class="comment-author">
                                                    <img src="{% static 'img/bg-img/33.jpg' %}" alt="author">
                                                </div>
                                                <!-- Comment Meta -->
                                                <div class="comment-meta">
                                                    <a href="#" class="post-author">Jaku Smith</a>
                                                    <a href="#" class="post-date">July 12, 2018</a>
                                                    <p>Facilisis eros. In iaculis rhoncus velit in malesuada. In hac habitasse platea dictumst. Fusce erat ex, consectetur sit amet ornare suscipit, porta et erat. Donec nec nisi in nibh commodo laoreet.</p>
                                                    <a href="#reply" class="reply">Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>

                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="{% static 'img/bg-img/33.jpg' %}" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="post-author">James Carter</a>
                                            <a href="#" class="post-date">July 12, 2018</a>
                                            <p>Integer sed facilisis eros. In iaculis rhoncus velit in malesuada. In hac habitasse platea dictumst. Fusce erat ex, consectetur sit amet ornare suscipit, porta et erat. Donec nec nisi in nibh commodo laoreet.</p>
                                            <a href="#reply" class="reply">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>

                        <div class="post-a-comment-area mb-30 clearfix" id="reply">
                            <h4 class="mb-50">Leave a reply</h4>

                            <!-- Reply Form -->
                            <div class="contact-form-area">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <input type="text" class="form-control" id="name" placeholder="Name*">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="email" class="form-control" id="email" placeholder="Email*">
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="subject" placeholder="Website">
                                        </div>
                                        <div class="col-12">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn egames-btn w-100" type="submit">Submit Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div class="sidebar-area mt-100">



                        <!-- Single Widget Area -->
                        <div class="single-widget-area video-widget">
                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/14.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Assemble Your Squad and Join the Battle</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/15.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Tips to improve your game</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/16.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Game reviews: the best of 2018</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/17.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Assemble Your Squad and Join the Battle</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/18.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area post-widget">
                            <h4 class="widget-title">Latest Posts</h4>
                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/19.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/20.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">Gaming at a new lever: 2018 new release</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/21.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">2018 Comicon: See the lastest news</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/22.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->
{% endblock %}