<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/23.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Super Mario</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Post Details Area Start ##### -->
    <section class="post-news-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8">
                    <div class="mt-100">
                        <div class="post-details-content mb-100">
                            <div class="blog-thumbnail mb-50">
                                <video autoplay='autoplay' loop width="700" height="450">
                                    <source src="{% static 'ITAV/Here_s why Super Mario Odyssey is so freaking great.mp4' %}" type="video/mp4" />
                                </video>
                            </div>
                            <div class="blog-content">
                                <h4 class="post-title">Mario Day sale includes Nintendo Switch, Mario Kart 8, Odyssey deals starting March 10</h4>
                                <div class="post-meta mb-30">
                                    <a href="#" class="post-date">10th March, 2019</a>
                                    <a href="#" class="post-author">By PATRICK HOLLAND</a>
                                    <a href="#" class="post-comments">2 Comments</a>
                                </div>
                                <p>To celebrate Mario Day, Nintendo will have discounts on the Switch and a handful of Mario-centric games including Mario Kart 8 Deluxe and Super Mario Odyssey. If you are unfamiliar with the holiday, you're not alone. Mario Day is on March 10 aka MAR10 -- get it? It's a holiday much in the same way "May the 4th" is Star Wars Day.</p><br>
                                <p>From March 10 to 16, select games featuring Mario receive a 50 percent discount ($30 off) when bought with a bundled Switch. The bundles cost $330 and can be purchased from Amazon, Best Buy, Walmart and Target. Gamestop is offering the same promotion but only on March 10. </p><br>
                                <p>Below are the five discounted Mario games:</p><br>
                                <p>Super Mario Party</p><br>
                                <p>Super Mario Odyssey</p><br>
                                <p>Mario Kart 8 Deluxe</p><br>
                                <p>Mario Tennis Aces</p><br>
                                <p>New Super Mario Bros. U Deluxe</p><br>
                                <p>The sales are available online, but as is usual with "bundle" deals, it's a bit complicated. So here are the three best ways to save -- including options if you already have a Switch.</p><br>
                                <p>Note that CNET may get a share of revenue from the sale of products featured on this page.</p>
                                <div class="row mt-50">
                                    <div class="">
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/98.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/99.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/100.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/101.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/102.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/103.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/104.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/105.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/106.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/107.jpg' %}" alt=""></p>
                                        <p><img width="700" height="400" src="{% static 'img/bg-img/108.jpg' %}" alt=""></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div class="sidebar-area mt-100">



                        <!-- Single Widget Area -->
                        <div class="single-widget-area video-widget">
                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/14.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Assemble Your Squad and Join the Battle</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/15.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Tips to improve your game</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/16.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Game reviews: the best of 2018</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/17.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">Assemble Your Squad and Join the Battle</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>

                            <!-- Single Video Widget -->
                            <div class="single-video-widget d-flex">
                                <div class="video-thumbnail">
                                    <img src="{% static 'img/bg-img/18.jpg' %}" alt="">
                                </div>
                                <div class="video-text">
                                    <a href="#" class="video-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                                <div class="video-rating">8.3/10</div>
                            </div>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area post-widget">
                            <h4 class="widget-title">Latest Posts</h4>
                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/19.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/20.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">Gaming at a new lever: 2018 new release</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/21.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">2018 Comicon: See the lastest news</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>

                            <!-- Single Post Widget -->
                            <div class="single-post-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="{% static 'img/bg-img/22.jpg' %}" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">New to gaming? Here are some tips</a>
                                    <span>Nintendo Wii, PS4, XBox 360</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->
{% endblock %}