<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block body_block %}
        <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/111.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Negligee: Love Stories</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Single Game Review Area Start ##### -->
    <section class="single-game-review-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-game-img-slides">
                        <div id="gameSlides" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{% static 'img/Negligee-Love Stories/1.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Negligee-Love Stories/2.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Negligee-Love Stories/3.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Negligee-Love Stories/4.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Negligee-Love Stories/5.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Negligee-Love Stories/6.png' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'img/Negligee-Love Stories/7.jpg' %}" alt="">
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#gameSlides" data-slide-to="0" class="active" style="background-image: url({% static 'img/Negligee-Love Stories/1.jpg' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="1" style="background-image: url({% static 'img/Negligee-Love Stories/2.jpg' %})"></li>
                                <li data-target="#gameSlides" data-slide-to="2" style="background-image: url({% static 'img/Negligee-Love Stories/3.jpg' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="3" style="background-image: url({% static 'img/Negligee-Love Stories/4.jpg' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="4" style="background-image: url({% static 'img/Negligee-Love Stories/5.jpg' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="5" style="background-image: url({% static 'img/Negligee-Love Stories/6.png' %});"></li>
                                <li data-target="#gameSlides" data-slide-to="6" style="background-image: url({% static 'img/Negligee-Love Stories/7.jpg' %});"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <!-- *** Review Area *** -->
                <div class="col-12 col-md-6">
                    <div class="single-game-review-area style-2 mt-70">
                        <div class="game-content">
                            <span class="game-tag">AVG</span>
                            <a href="https://blog.counter-strike.net/" class="game-title">Negligee: Love Stories</a>
                            <div class="game-meta">
                                <a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/" class="game-date">14th April, 2015</a>
                                <a href="#" class="game-comments">6 Comments</a>
                            </div>
                            <p>A series of four stories following the characters Karen, Charlotte, Sophie and Jasmin. Following their early lives and the decisions they had to make, whether to follow their heart or their head and how that impacts their lives.In the first story we follow Karen as the games protagonist.
After living in an emotionally abusive marriage she turns to a new friend for comfort and gets more than she bargained for, but before long her secret affair helps her to realise that she should leave her husband and start over. How will this story play out and the eventual confrontation with her husband. You decide in this visual novel tale with multiple endings.</p>
                            <!-- Download & Rating Area -->
                            <div class="download-rating-area">
                                <div class="download-area">
                                    <a href="https://store.steampowered.com/app/1002100/Negligee_Love_Stories/"><img src="{% static 'img/core-img/windows.png' %}" alt="">&nbsp&nbsp&nbspLink to steam to download</a>
                                </div>
                                <div class="rating-area mt-30">
                                    <h3>8.6</h3>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- *** Barfiller Area *** -->
                <div class="col-12 col-md-6">
                    <div class="egames-barfiller">
                        <!-- Single Barfiller -->
                        <div class="single-barfiller-area">
                            <div id="bar1" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="95"></span>
                                <p>Game Price</p>
                            </div>
                        </div>
                        <!-- Single Barfiller -->
                        <div class="single-barfiller-area">
                            <div id="bar2" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="81"></span>
                                <p>Positive</p>
                            </div>
                        </div>
                        <!-- Single Barfiller -->
                        <div class="single-barfiller-area">
                            <div id="bar3" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="24"></span>
                                <p>Mixed</p>
                            </div>
                        </div>
                        <!-- Single Barfiller -->
                        <div class="single-barfiller-area">
                            <div id="bar4" class="barfiller">
                                <span class="tip"></span>
                                <span class="fill" data-percentage="31"></span>
                                <p>Negative</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Single Game Review Area End ##### -->
{% endblock %}